{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "printWidth": 120,
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        }
    ]
}
